.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: beige;
}

#content {
    height: auto;
    padding:10px 0 10px 0;
}

input, label, button, form {
    margin: 5px;
}


form {
    border: 1px solid black;
    border-radius: 10px;
}

#content {
    flex-direction: row;
}

#todos {
    width: 300px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.projDom {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.toDoDom {
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 20px;
}

.toDoDom > div > button {
    margin: 5px 0px 5px 0px;
}